body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003602;
    color: white;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #002001;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

section {
    margin: 20px 0;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #002c01;
}

.map-container {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px 0; 
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

blockquote {
    border-left: 4px solid #253f26;
    padding-left: 15px;
    font-style: italic;
    color: #555;
    margin: 10px 0; 
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #334234;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #2d422e; 
}

.vw {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
}

.access-button {
    width: 50px;
    height: auto;
    cursor: pointer;
}

.pop-up {
    display: none;
}

.vw-access-button.active .pop-up {
    display: block;
    position: absolute;
    top: -10px;
    right: 60px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}